@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 6.5rem;
  font-family: "Montserrat", sans-serif;
  color: #4f4f4f;
  min-width: 830px;
}

@media (max-width: 920px) {
  body {
    padding: 4.5rem;
  }
}

@-webkit-keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@-webkit-keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@-webkit-keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

@-webkit-keyframes bootstrap {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes bootstrap {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@-webkit-keyframes sass {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes sass {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@-webkit-keyframes figma {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

@keyframes figma {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

@-webkit-keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@-webkit-keyframes java {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes java {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@-webkit-keyframes django {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes django {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@-webkit-keyframes sql {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes sql {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-right {
  max-width: 862px;
  margin-left: 3.2rem;
}

.m-bottom-md {
  margin-bottom: 3.2rem;
}

.m-bottom-sm {
  margin-bottom: 1.8rem;
}

.text-dark {
  font-weight: 600;
  color: #4f4f4f;
}

.text-light {
  font-weight: 500;
  color: #828282;
}

.heading-text {
  font-size: 2.4rem;
  line-height: 2.9rem;
}

.sub-text {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.profile {
  max-width: 413px;
}

.profile__image {
  display: inline-block;
  max-width: 366.99px;
  border-radius: 12px;
}

.profile__image .profile-pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 12px;
  height: 100%;
}

.contact-detail {
  font-size: 1.8rem;
}

.contact-detail .email, .contact-detail .phone {
  line-height: 2.9rem;
}

.contact-detail .font-icon {
  margin-right: 1.8rem;
}

.profile-info-text {
  font-size: 1.8rem;
}

@media (max-width: 920px) {
  .profile {
    max-width: 290px;
  }
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__frontend,
.skills__others {
  max-width: 415.02px;
  display: inline-block;
  margin-bottom: 4.8rem;
}

.skills__frontend h1,
.skills__others h1 {
  margin-bottom: 2.7rem;
}

.skills__frontend {
  margin-right: 1.8rem;
}

.skills-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-list {
  line-height: 19.7px;
}

.skills-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  font-size: 1.8rem;
  margin-bottom: 2.7rem;
}

.skills-list li:last-child {
  margin-bottom: 0;
}

.skills-list h2 {
  font-size: 1.8rem;
  width: 120px;
}

.bar {
  display: block;
  width: 236.85px;
  height: 9.6px;
  background: #f2f2f2;
  border-radius: 12px;
}

.bar span {
  height: 9.6px;
  background: #2f80ed;
  float: left;
  border-radius: 12px;
}

.html {
  width: 80%;
  -webkit-animation: html 2s;
          animation: html 2s;
}

.css {
  width: 80%;
  -webkit-animation: css 2s;
          animation: css 2s;
}

.js {
  width: 40%;
  -webkit-animation: js 2s;
          animation: js 2s;
}

.bootstrap {
  width: 70%;
  -webkit-animation: bootstrap 2s;
          animation: bootstrap 2s;
}

.sass {
  width: 50%;
  -webkit-animation: sass 2s;
          animation: sass 2s;
}

.figma {
  width: 40%;
  -webkit-animation: figma 2s;
          animation: figma 2s;
}

.python {
  width: 80%;
  -webkit-animation: python 2s;
          animation: python 2s;
}

.java {
  width: 50%;
  -webkit-animation: java 2s;
          animation: java 2s;
}

.django {
  width: 70%;
  -webkit-animation: django 2s;
          animation: django 2s;
}

.sql {
  width: 80%;
  -webkit-animation: sql 2s;
          animation: sql 2s;
}

.experiences {
  max-width: 413px;
}

.exp {
  position: relative;
}

.exp-details {
  line-height: 2rem;
  display: inline-block;
  margin-left: 100px;
}

.exp__duration {
  font-size: 1.4rem;
  line-height: 2.9rem;
}

.exp__job-title {
  line-height: 2.9rem;
}

.exp__job-title,
.exp__desc {
  font-size: 1.6rem;
}

.company-logo {
  display: inline-block;
  position: absolute;
  top: 7px;
  width: 84px;
  height: 84px;
}

.company-logo img {
  width: 100%;
}

@media (max-width: 1160px) {
  .company-logo {
    width: 45px;
    height: 45px;
  }
  .exp-details {
    margin-left: 50px;
  }
}

@media (max-width: 920px) {
  .experiences {
    max-width: 290px;
  }
  .company-logo {
    width: 30px;
    height: 30px;
  }
  .exp-details {
    margin-left: 40px;
  }
}

.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .project:last-child {
  margin-bottom: 4.8rem;
}

.projects .projects__head {
  font-size: 1.8rem;
}

.project__image {
  max-width: 362px;
  max-height: 269px;
}

.project__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  min-width: 200px;
}

.project__desc {
  margin-left: 3.2rem;
}

.project__desc .tags, .project__desc p {
  font-size: 1.6rem;
  color: #828282;
}

.buttons {
  margin-top: 5rem;
  font-size: 1.8rem;
}

.buttons a {
  padding: 1.1rem 3.8rem;
  border-radius: 12px;
  border: 1px solid #2f80ed;
  text-decoration: none;
}

.buttons .btn-blue {
  background: #2f80ed;
  color: #ffffff;
  margin-right: 11px;
}

.buttons .btn-white {
  color: #2f80ed;
}

@media (max-width: 1160px) {
  .project__image {
    max-height: 200px;
  }
}

@media (max-width: 920px) {
  .project__image {
    max-height: 150px;
  }
}

@media (max-width: 1160px) {
  .projects .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project__image {
    max-height: none;
    height: auto;
    margin-bottom: 1.8rem;
  }
  .project__image img {
    min-width: 100px;
  }
  .project__desc {
    max-width: 100%;
    margin-left: 0;
  }
}

.hobbies {
  max-width: 413px;
}

.hobby__image {
  height: 139px;
}

.hobby__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.hobby__name {
  font-size: 1.8rem;
}

.hobby__desc {
  font-size: 1.6rem;
}

.hobby:last-child {
  margin-bottom: 0;
}

@media (max-width: 920px) {
  .hobbies {
    max-width: 290px;
  }
}

.blogs {
  overflow: hidden;
}

.blogs__head {
  font-size: 1.8rem;
}

.blog-tag {
  font-size: 1.6rem;
  color: #f2f2f2;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__image {
  max-width: 444px;
  max-height: 369px;
}

.blog__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translateX(3.2rem);
          transform: translateX(3.2rem);
  border-radius: 12px;
}

.blog-details {
  max-width: 325px;
}

.blog-details__title {
  font-size: 2.4rem;
  max-width: 167px;
  line-height: 29.26px;
}

.blog-details__desc {
  font-size: 1.6rem;
  min-width: 250px;
}

.blog-details__link {
  color: #2f80ed;
  font-size: 1.6rem;
  text-decoration: none;
}

.section {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 2.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
/*# sourceMappingURL=main.css.map */