@keyframes html {
    0%{
        width: 0%;

    }
    100%{
        width: 80%;
    }
}

@keyframes css {
    0%{
        width: 0%;

    }
    100%{
        width: 80%;
    }
}

@keyframes js {
    0%{
        width: 0%;

    }
    100%{
        width: 40%;
    }
}
@keyframes bootstrap {
    0%{
        width: 0%;

    }
    100%{
        width: 70%;
    }
}
@keyframes sass {
    0%{
        width: 0%;

    }
    100%{
        width: 50%;
    }
}
@keyframes figma {
    0%{
        width: 0%;

    }
    100%{
        width: 40%;
    }
}
@keyframes python {
    0%{
        width: 0%;

    }
    100%{
        width: 80%;
    }
}
@keyframes java {
    0%{
        width: 0%;

    }
    100%{
        width: 50%;
    }
}

@keyframes django {
    0%{
        width: 0%;

    }
    100%{
        width: 70%;
    }
}

@keyframes sql {
    0%{
        width: 0%;

    }
    100%{
        width: 80%;
    }
}