


.m-bottom-sm{
    margin-bottom: 3.2rem;
}

.text-dark{
    font-weight: 600;
    color: $color-black;
}

.text-light{
    font-weight: 500;
    color: $color-grey;
}

.heading-text{
    font-size: $font-lg;
    line-height: 2.9rem;
}

.sub-text{
    font-size: $font-sm;
    line-height: 2.2rem;
}